<div class="title-cards">
  <h2>Departamentos mas visitados</h2>
</div>
<div class="container-card">
  <div class="card">
    <figure>
      <img
        src="https://cdn.pixabay.com/photo/2015/06/24/16/36/office-820390_1280.jpg"
      />
    </figure>
    <div class="contenido-card">
      <h3>Lima</h3>
      <p>
        Lima, capital de Perú, es una ciudad vibrante que combina historia, cultura y modernidad. Situada en la costa del Pacífico
      </p>
      <a (click)="detalleDepartamento('detalle-departamento')">Leer Màs</a>
    </div>
  </div>
  <div class="card">
    <figure>
      <img
        src="/assets/arequipa.jpg"
      />
    </figure>
    <div class="contenido-card">
      <h3>Arequipa</h3>
      <p>
        Lima, capital de Perú, es una ciudad vibrante que combina historia, cultura y modernidad. Situada en la costa del Pacífico
      </p>
      <a (click)="detalleDepartamento('detalle-departamento')">Leer Màs</a>
    </div>
  </div>
  <div class="card">
    <figure>
      <img
        src="/assets/ica.jpg"
      />
    </figure>
    <div class="contenido-card">
      <h3>Ica</h3>
      <p>
        Arequipa, conocida como "La Ciudad Blanca" por sus edificios de sillar, una piedra volcánica blanca
      </p>
      <a (click)="detalleDepartamento('detalle-departamento')">Leer Màs</a>
    </div>
  </div>
</div>
