<div class="conteiner">
  <form [formGroup]="usuarioForm" autocomplete="off" class="form-container">
    <H1>Registrese</H1>
    <p>Regístrate ahora y obtén un 30% de descuento</p>

    <div class="conteniner_Datos">
      <mat-form-field class="matIzquierdo">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="name" formControlName="name" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>LastName</mat-label>
        <input matInput type="text" placeholder="lastname" formControlName="lastname" required>
      </mat-form-field>
    </div>

    <div class="conteniner_Datos">
      <mat-form-field class="matIzquierdo">
        <mat-label>Phone</mat-label>
        <input matInput type="text" placeholder="Phone number" formControlName="phone" required maxlength="9">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </div>


    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="email@" formControlName="email" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput type="text" placeholder="username" formControlName="username" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="password" formControlName="password" required>
    </mat-form-field>
    <button class="button" (click)="registrar()" color="primary">Registrarse</button>

  </form>

</div><p>registrar-usuario works!</p>
