<body>
<div class="card">
  <div class="face front">
    <img src="/images/lima/ceviche.png" alt="">
    <h3>Ceviche</h3>
  </div>
  <div class="face back">
    <h3>Ceviche</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius harum molestiae iste, nihil doloribus fugiat distinctio ducimus maxime totam nulla fuga odio non aperiam eos?</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img src="/images/lima/lomo.png" alt="">
    <h3>Lomito</h3>
  </div>
  <div class="face back">
    <h3>Lomito</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius harum molestiae iste, nihil doloribus fugiat distinctio ducimus maxime totam nulla fuga odio non aperiam eos?</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img src="/images/lima/aji_gallina.png" alt="">
    <h3>Aji de gallina</h3>
  </div>
  <div class="face back">
    <h3>Pure</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius harum molestiae iste, nihil doloribus fugiat distinctio ducimus maxime totam nulla fuga odio non aperiam eos?</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>


</body>
