<body>
<div class="card">
  <div class="face front">
    <img src="/images/ceviche.jpg" alt="">
    <h3>Ceviche</h3>
  </div>
  <div class="face back">
    <h3>Ceviche</h3>
    <p>Es un platillo fresco y vibrante, típico de las costas latinoamericanas, especialmente popular en Perú. Consiste en pescado crudo, marinado en jugo de limón o lima, que "cocina" la carne y le da un sabor cítrico y refrescante.</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img src="/images/lomito.jpg" alt="">
    <h3>Lomito</h3>
  </div>
  <div class="face back">
    <h3>Lomito</h3>
    <p>Es un platillo popular y delicioso de origen latinoamericano, especialmente en países como Argentina y Uruguay. Se trata de un sándwich o plato elaborado con un corte de carne de res tierna, generalmente lomo o solomillo, a la plancha o parrilla.</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img src="/images/pure.jpg" alt="">
    <h3>Pure</h3>
  </div>
  <div class="face back">
    <h3>Pure</h3>
    <p>Es un plato típico de papas hervidas y aplastadas, mezcladas con mantequilla, leche y sal para una textura cremosa. Es un acompañamiento versátil para carnes y guisos.</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>


</body>
