<br>
<!-- Nueva sección para TripBundle -->
<section class="tripbundle-section">
  <h2>TripBundle - Explora Perú con nosotros.</h2>


  <p>En TripBundle, te ofrecemos una experiencia única para explorar la flora y fauna <br>
    de nuestros hermosos departamentos. Descubre la diversidad natural de Perú a través <br>
    nuestros paquetes de viaje cuidadosamente diseñados.</p>

  <h3>Nuestros Departamentos Destacados</h3>

  <div class="department-cards">
    <div class="card">
      <img src="images/cuzco.jpg" alt="Cuzco" height="1440" width="2560">
      <h4>Cuzco</h4>
      <p>¡Explora la mística ciudad inca y maravíllate con Machu Picchu!</p>
    </div>
    <div class="card">
      <img src="images/arequipa.png" alt="Arequipa">
      <h4>Arequipa</h4>
      <p>Descubre la Ciudad Blanca, sus volcanes y el impresionante Cañón del Colca.</p>
    </div>
    <div class="card">
      <img src="images/ica.jpg" alt="Ica">
      <h4>Ica</h4>
      <p>Sumérgete en el desierto, surfea las dunas y conoce las enigmáticas Líneas de Nazca.</p>
    </div>
    <div class="card">
      <img src="images/huanuco.jpg" alt="Huánuco">
      <h4>Huánuco</h4>
      <p>Bosques amazónicos, ciudades coloniales y una cultura ancestral te esperan en Huánuco./p>
    </div>
  </div>
  <!-- Sección de servicios -->
  <h3>Nuestros servicios Destacados</h3>
  <div class="service-cards">
    <div class="card">
      <img src="images/pumacuzco.png" alt="Trekking">
      <h4>Trekking</h4>
      <p>Descubre impresionantes paisajes y ruinas incas en nuestras rutas de trekking.</p>
    </div>
    <div class="card">
      <img src="images/mollecuzco.png" alt="Rafting" >
      <h4>Rafting</h4>
      <p>Atrévete a vivir la emoción del rafting en los ríos más caudalosos de Perú.</p>
    </div>
    <div class="card">
      <img src="images/algarrobolima.png" alt="Cultural Tours">
      <h4>Cultural Tours</h4>
      <p>Sumérgete en la historia y tradiciones peruanas con nuestros tours culturales.</p>
    </div>
    <div class="card">
      <img src="images/oso_anteojoscuzco.png" alt="Beach Vacation">
      <h4>Beach Vacation</h4>
      <p>Relájate en las hermosas playas del norte peruano y disfruta del sol y el mar.</p>
    </div>
  </div>
  <h3>Por qué elegir TripBundle?</h3>
  <ul>
    <li>Paquetes personalizados que se adaptan a tus necesidades.</li>
    <li>Guías expertos que te acompañarán en tu aventura.</li>
    <li>Experiencias únicas que te conectan con la naturaleza.</li>
  </ul><br>
  <br>
  <br>
</section>

