<app-navbar></app-navbar>
<div class="acerca-de-container">
  <h1>{{ title }}</h1>
  <!-- Sección de vision -->
  <div class="card-vision">
    <h4>Vision</h4>
     <p>Gestora de Proyectos. Lidera la coordinación de actividades y asegura la entrega en tiempos óptimos.</p>
  </div>

  <!-- Sección Mision-->
  <div class="card-mision">
    <h4>Mision</h4>
    <p>Gestora de Proyectos. Lidera la coordinación de actividades y asegura la entrega en tiempos óptimos.</p>
  </div>
  <br>
  <br> <br>
  <!-- Sección de Valores -->
  <section class="valores">
    <h2>Valores</h2>
    <ul>
      <li>Integridad</li>
      <li>Excelencia</li>
      <li>Trabajo en equipo</li>
    </ul>
  </section>

  <!-- Sección de Creadores -->
  <div class="creadores-container">
    <h2>Conoce a los Creadores del Proyecto</h2>
    <div class="creator-cards">
      <div class="card">
        <img src="images/arequipa.jpg" alt="Creador 1" width="256" height="256">
        <h4>Jair Flores Vizcarra</h4>
        <p>Estudiante de ingenieria de sistemas de la informacion</p>
      </div>
      <div class="card">
        <img src="/images/" alt="Creador 2" width="256" height="256">
        <h4>Roly Mori De La Cruz</h4>
        <p>Estudiante de ingenieria de sistemas de la informacion</p>
      </div>
      <div class="card">
        <img src="images/arequipa.jpg" alt="Creador 3" width="256" height="256">
        <h4>Luigui Cristobal Camarena</h4>
        <p>Estudiante de ingenieria de sistemas de la informacion</p>
      </div>
      <div class="card">
        <img src="images/arequipa.jpg" alt="Creador 4" width="256" height="256">
        <h4>David Mamani Quilla</h4>
        <p>Estudiante de ingenieria de sistemas de la informacion</p>
      </div>
      <div class="card">
        <img src="images/arequipa.jpg" alt="Creador 5" width="256" height="256">
        <h4>Luis Herrera</h4>
        <p>Estudiante de ingenieria de sistemas de la informacion</p>
      </div>

    </div>
  </div>
  <br><br><br>
  <br>

</div>

