<div class="acerca-de-container">
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>
  <h1>Acerca de Nosotros</h1>

  <!-- Sección de Misión -->
  <section class="mision">
    <h2>Misión</h2>
    <p>Nuestra misión es proporcionar el mejor servicio a nuestros clientes.</p>
  </section>

  <!-- Sección de Visión -->
  <section class="vision">
    <h2>Visión</h2>
    <p>Ser líderes en nuestro sector, ofreciendo calidad y confianza.</p>
  </section>

  <!-- Sección de Valores -->
  <section class="valores">
    <h2>Valores</h2>
    <ul>
      <li>Integridad</li>
      <li>Excelencia</li>
      <li>Trabajo en equipo</li>
    </ul>
  </section>

  <!-- Sección de Creadores -->
  <div class="creadores-container">
    <h2>Conoce a los Creadores del Proyecto</h2>
    <div class="creator-cards">
      <div class="card">
        <img src="images/arequipa.jpg" alt="Creador 1" width="256" height="256">
        <h4>Juan Pérez</h4>
        <p>Desarrollador Fullstack. Especializado en la implementación de la lógica de negocio y la integración de servicios.</p>
      </div>
      <div class="card">
        <img src="images/arequipa.jpg" alt="Creador 2" width="256" height="256">
        <h4>María López</h4>
        <p>Diseñadora UX/UI. Responsable de la experiencia de usuario y el diseño visual de la aplicación.</p>
      </div>
      <div class="card">
        <img src="images/arequipa.jpg" alt="Creador 3" width="256" height="256">
        <h4>Carlos García</h4>
        <p>Especialista en Marketing Digital. Encargado de la estrategia de difusión y análisis de usuarios.</p>
      </div>
      <div class="card">
        <img src="images/arequipa.jpg" alt="Creador 4" width="256" height="256">
        <h4>Laura Torres</h4>
        <p>Gestora de Proyectos. Lidera la coordinación de actividades y asegura la entrega en tiempos óptimos.</p>
      </div>
      <div class="card">
        <img src="images/arequipa.jpg" alt="Creador 4" width="256" height="256">
        <h4>Laura Torres</h4>
        <p>Gestora de Proyectos. Lidera la coordinación de actividades y asegura la entrega en tiempos óptimos.</p>
      </div>
      <div class="card">
        <img src="images/arequipa.jpg" alt="Creador 4" width="256" height="256">
        <h4>Laura Torres</h4>
        <p>Gestora de Proyectos. Lidera la coordinación de actividades y asegura la entrega en tiempos óptimos.</p>
      </div>
    </div>
  </div>
</div>
