/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Contenedor principal */
.acerca-de-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco para el contenedor */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Secciones */
section {
  margin: 20px 0; /* Margen entre secciones */
}

h1, h2, p, ul{
  color: #333;
  text-align: center;
  /* Color de los títulos */
}

/* Sección de Valores */
.valores ul {
  list-style-type: none; /* Elimina puntos de lista */
  padding: 0;
}

.valores li {
  padding: 5px 0; /* Espaciado entre valores */
}

/* Estilos de la sección de Creadores */
.creadores-container {
  background-color: #e7f3fe; /* Fondo azul claro */
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin-top: 30px; /* Separación del contenido anterior */
}

.creator-cards {
  display: flex;
  justify-content: space-between; /* Distribución uniforme de las tarjetas */
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en varias filas */
}

.card {
  background-color: white; /* Fondo blanco para las tarjetas */
  border: 1px solid #ddd; /* Borde gris claro */
  border-radius: 8px; /* Bordes redondeados para las tarjetas */
  padding: 15px;
  margin: 10px;
  text-align: center; /* Centrar el texto dentro de la tarjeta */
  transition: transform 0.3s, box-shadow 0.3s; /* Transición suave */
  width: calc(25% - 20px); /* Ancho de las tarjetas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para las tarjetas */
}

.card:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al hacer hover */
}

.card img {
  border-radius: 50%; /* Imagen circular */
  margin-bottom: 10px; /* Espaciado entre la imagen y el texto */
}

h4 {
  margin: 10px 0; /* Espaciado entre el título y el párrafo */
  font-size: 1.2em; /* Aumentar tamaño de fuente del título */
  color: #007BFF; /* Color azul para los nombres */
}

p {
  font-size: 0.9em; /* Tamaño de fuente más pequeño para las descripciones */
  color: #555; /* Color gris para las descripciones */
}
