<div class="conteiner">
  <form [formGroup]="registrarForm" autocomplete="off" class="form-container">
    <H1>Regístrese</H1>

    <mat-form-field class="example-full-width">
      <mat-label>DNI</mat-label>
      <input matInput type="text" placeholder="DNI" formControlName="dni" required>
    </mat-form-field>

    <div class="conteniner_Datos">
      <mat-form-field class="matIzquierdo">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" placeholder="Nombre" formControlName="nombre" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input matInput type="text" placeholder="Apellido" formControlName="apellido" required>
      </mat-form-field>
    </div>

    <div class="conteniner_Datos">
      <mat-form-field class="matIzquierdo">
        <mat-label>Telefono</mat-label>
        <input matInput type="text" placeholder="Telefono" formControlName="telefono" required maxlength="9">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="email@" formControlName="email" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput type="text" placeholder="username" formControlName="username" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="password" formControlName="password" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Rol</mat-label>
      <input matInput type="rol" placeholder="rol" formControlName="rol" required>
    </mat-form-field>

    <button class="button" (click)="registrar()" color="primary">Registrarse</button>

  </form>

</div>
