
<form class="form">
  <p class="title">Regístrate </p>
  <p class="message">Completa tus datos completos </p>
  <div class="flex">
    <label>
      <input class="input" type="text" placeholder="" required="">
      <span>Nombre</span>
    </label>

    <label>
      <input class="input" type="text" placeholder="" required="">
      <span>Apellido</span>
    </label>
  </div>

  <label>
    <input class="input" type="email" placeholder="" required="">
    <span>Email</span>
  </label>

  <label>
    <input class="input" type="password" placeholder="" required="">
    <span>Contraseña</span>
  </label>
  <label>
    <input class="input" type="password" placeholder="" required="">
    <span>Confirmar contraseña</span>
  </label>
  <button class="submit">Registrarse</button>
  <p class="signin">¿Ya tienes una cuenta? <a (click)="inicioSesion('inicio-sesion')">Inicia sesión</a> </p>
</form>
