
<app-navbar></app-navbar>
<mat-card class="example-card">
  <mat-card-title>Registrar reserva</mat-card-title>
  <mat-card-content>
    <form [formGroup]="reservaForm" class="form-container">
      <mat-form-field appearance="fill">
        <mat-label>Detalle reserva</mat-label>
        <input matInput formControlName="detalleReserva" placeholder="Ingrese detalle de reserva" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fecha Reserva</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaReserva"
               placeholder="Seleccione la fecha de reserva" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cantidad personas</mat-label>
        <input matInput formControlName="cantidadPersonas" placeholder="Ingrese la cantidad de personas" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>TipoUser</mat-label>
        <mat-select formControlName="tipoProducto" [(value)]="idUsuario" required>
          <mat-option *ngFor="let a of lista" [value]="a.id">
            {{a.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>TipoAdmin</mat-label>
        <mat-select formControlName="tipoProducto" [(value)]="idAdministrador" required>
          <mat-option *ngFor="let a of lista" [value]="a.id">
            {{a.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>TipoPaquete</mat-label>
        <mat-select formControlName="tipoProducto" [(value)]="idPaquete" required>
          <mat-option *ngFor="let a of lista" [value]="a.id">
            {{a.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onSubmit()">Registrar</button>
    </form>
  </mat-card-content>
</mat-card>

