<body>
<div class="card">
  <div class="face front">
    <img ngSrc="images/pumacuzco.png" alt="Cuzco" height="1440" width="2560">
    <h3>Perro</h3>
  </div>
  <div class="face back">
    <h3>Perro</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius harum molestiae iste, nihil doloribus fugiat distinctio ducimus maxime totam nulla fuga odio non aperiam eos?</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img ngSrc="images/cuzco.jpg" alt="Cuzco" height="1440" width="2560">
    <h3>Zorra</h3>
  </div>
  <div class="face back">
    <h3>Zorra</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius harum molestiae iste, nihil doloribus fugiat distinctio ducimus maxime totam nulla fuga odio non aperiam eos?</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img ngSrc="images/cuzco.jpg" alt="Cuzco" height="1440" width="2560">
    <h3>Condor</h3>
  </div>
  <div class="face back">
    <h3>COndor</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius harum molestiae iste, nihil doloribus fugiat distinctio ducimus maxime totam nulla fuga odio non aperiam eos?</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>


</div>

<br><br><br>
<br><br><br><br><br><br>
<br><br><br>
</body>
