<body>
<div class="card">
  <div class="face front">
    <img src="/images/pelicano.jpg" alt="pelicano foto">
    <h3>Pelícano</h3>
  </div>
  <div class="face back">
    <h3>Pelícano</h3>
    <p>Es una gran ave acuática reconocida por su largo pico y bolsa gular. Habita en costas y cuerpos de agua dulce, y es experta pescadora, capturando peces mientras nada. Su vuelo es majestuoso y suele anidar en colonias.</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img src="/images/zorro.jpg" alt="zorro">
    <h3>Zorro</h3>
  </div>
  <div class="face back">
    <h3>Zorro</h3>
    <p>Es un mamífero astuto y adaptable que habita en las regiones montañosas de los Andes. Reconocido por su pelaje denso y su agilidad, juega un papel crucial en el equilibrio ecológico, controlando poblaciones de roedores y otras especies.</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img src="/images/capibara.jpg" alt="Condor">
    <h3>Capiraba</h3>
  </div>
  <div class="face back">
    <h3>Capibara</h3>
    <p>Es el roedor más grande del mundo, originario de América del Sur. Vive en grupos cerca de cuerpos de agua y se caracteriza por su cuerpo robusto, pelaje marrón claro y comportamiento tranquilo. Son excelentes nadadores y juegan un papel importante en su ecosistema.</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>


</body>
