<div class="container">

  <h1 class="heading">Buscar</h1>

  <div class="box-container">

    <div class="box">
      <img src="image/icon-2.png" alt="">
      <h3>Flora</h3>
      <p>Tendras informacion de la flora de cada departamento</p>
      <a (click)="detalleFlora('detalle-flora')" class="btn">Ver más</a>
    </div>

    <div class="box">
      <img src="image/icon-4.png" alt="">
      <h3>Fauna</h3>
      <p>Tendras informacion de la fauna de cada departamento</p>
      <a (click)="detalleFauna('detalle-fauna')" class="btn">Ver más</a>
    </div>

    <div class="box">
      <img src="image/icon-5.png" alt="">
      <h3>Comida tipica</h3>
      <p>Tendras informacion de la comida tipica de cada departamento</p>
      <a (click)="detalleComida('detalle-comida')" class="btn">Ver más</a>
    </div>

    <div class="box">
      <img src="image/icon-6.png" alt="">
      <h3>Lugares turisticos</h3>
      <p>Tendras informacion de los lugares turisticos de cada departamento</p>
      <a (click)="detalleAtractivo('detalle-atractivo')" class="btn">Ver más</a>
    </div>

  </div>

</div>
