/* Estilos generales para el Body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#BFD1E0;
  padding: 10px 20px;
  color: #000000;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo-container .logo {
  width: 40px;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  color: orange;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu a {
  color: #fff;
  display: block;
  margin: 5px 0;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  color: #fff;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 20px 0;
    gap: 10px;
  }

  .menu-toggle {
    display: inline;
  }
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redes {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.redes a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.redes a:hover {
  color: #1A73E8;
  transform: scale(1.1);
}

/* Estilos de animación para íconos */
.redes a.facebook:hover { color: #3b5998; }
.redes a.twitter:hover { color: #1da1f2; }
.redes a.instagram:hover { color: #e4405f; }
.redes a.google-plus:hover { color: #db4437; }
.redes a.linkedin:hover { color: #0077b5; }

.footer-contact {
  font-size: 0.9rem;
  color: #ccc;
  margin-top: 10px;
}

.footer-contact p {
  margin: 5px 0;
}

/* Media Query para Footer en pantallas grandes */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
  }

  .redes,
  .footer-contact {
    margin: 0;
  }
}
