<body>
<div class="card">
  <div class="face front">
    <img src="/images/machupicchu.jpg" alt="">
    <h3>MachuPicchu</h3>
  </div>
  <div class="face back">
    <h3>MachuPicchu</h3>
    <p>Es una antigua ciudadela inca en las montañas andinas de Perú, a 2,430 metros de altitud. Construida en el siglo XV, destaca por su impresionante arquitectura de muros de piedra sin mortero y sus vistas panorámicas de la selva montañosa.</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img src="/images/huacachina.jpg" alt="">
    <h3>La Huacachina</h3>
  </div>
  <div class="face back">
    <h3>La Huacachina</h3>
    <p>Es una laguna en un oasis del desierto de Ica. Rodeada de altas dunas de arena, es un popular destino turístico para actividades como sandboarding y paseos en buggy. Ofrece un paisaje impresionante y una experiencia única en medio del desierto.</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img src="/images/titicaca.jpg" alt="">
    <h3>Titi caca</h3>
  </div>
  <div class="face back">
    <h3>Titi caca</h3>
    <p>Ubicado a 3,812 metros sobre el nivel del mar entre Perú y Bolivia, es el lago navegable más alto del mundo. Conocido por su belleza y biodiversidad, alberga islas flotantes habitadas por los Uros. Es un importante centro cultural con ricas tradiciones indígenas y es un popular destino turístico.</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>


</body>
