<body>
<div class="card">
  <div class="face front">
    <img ngSrc="images/lineadenazca.png" alt="" width="50" height="50">
    <h3>Lineas de nazca</h3>
  </div>
  <div class="face back">
    <h3>MachuPicchu</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius harum molestiae iste, nihil doloribus fugiat distinctio ducimus maxime totam nulla fuga odio non aperiam eos?</p>
    <div class="link">
      <a (click)="tipoPaquete('tipo-paquete')">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img ngSrc="images/lima.jpg" alt="">
    <h3>Mainsqueare</h3>
  </div>
  <div class="face back">
    <h3>Mainsqueare</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius harum molestiae iste, nihil doloribus fugiat distinctio ducimus maxime totam nulla fuga odio non aperiam eos?</p>
    <div class="link">
      <a (click)="tipoPaquete('tipo-paquete')">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img ngSrc="img3.jpeg" alt="">
    <h3>Volcan</h3>
  </div>
  <div class="face back">
    <h3>Volcan</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius harum molestiae iste, nihil doloribus fugiat distinctio ducimus maxime totam nulla fuga odio non aperiam eos?</p>
    <div class="link">
      <a (click)="tipoPaquete('tipo-paquete')">Details</a>
    </div>
  </div>
</div>


</body>
