<app-navbar></app-navbar>
<div class="package-section">
  <div class="package-container">
    <div class="image-container">
      <img src="images/cuzco.jpg" alt="Imagen del Destino">
      <span class="tag">¡Ofertas TripBundle</span>
      <span class="direct-flight">Vuelo directo</span>
    </div>
    <div class="package-info">
      <h2>Cusco</h2>
      <p class="date">Solo ida 11/11/24</p>
      <span class="economy">Economy</span> <span class="miles">⭐ Acumula millas</span>
      <p class="price">
        <del>USD 53.00</del>
        <span>USD 32.53</span>
        <span class="discount">-39%</span>
      </p>
      <p class="price-details">PEN 122.24<br>Tasas incluidas</p>
    </div>
  </div>

  <div class="package-container">
    <div class="image-container">
      <img src="images/lima.jpg" alt="Imagen del Destino">
      <span class="tag">¡Ofertas TripBundle!</span>
      <span class="direct-flight">Vuelo directo</span>
    </div>
    <div class="package-info">
      <h2>Lima</h2>
      <p class="date">Solo ida 12/11/24</p>
      <span class="economy">Economy</span> <span class="miles">⭐ Acumula millas</span>
      <p class="price">
        <del>USD 60.00</del>
        <span>USD 36.00</span>
        <span class="discount">-40%</span>
      </p>
      <p class="price-details">PEN 135.00<br>Tasas incluidas</p>
    </div>
  </div>

  <div class="package-container">
    <div class="image-container">
      <img src="images/huanuco.jpg" alt="Imagen del Destino">
      <span class="tag">¡Ofertas TripBundle!</span>
      <span class="direct-flight">Vuelo directo</span>
    </div>
    <div class="package-info">
      <h2>Huánuco</h2>
      <p class="date">Solo ida 13/11/24</p>
      <span class="economy">Economy</span> <span class="miles">⭐ Acumula millas</span>
      <p class="price">
        <del>USD 70.00</del>
        <span>USD 42.00</span>
        <span class="discount">-40%</span>
      </p>
      <p class="price-details">PEN 155.00<br>Tasas incluidas</p>
    </div>
  </div>
</div>
