body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.package-container {
  width: 350px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-container {
  position: relative;
}
.image-container img {
  width: 100%;
  height: auto;
}
.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #8a2be2;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}
.direct-flight {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #d500f9;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}
.package-info {
  padding: 15px;
}
.package-info h2 {
  margin: 0;
  color: #333;
}
.date {
  font-size: 0.9em;
  color: #555;
}
.economy {
  display: inline-block;
  background-color: #800080;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 0.9em;
}
.price {
  margin: 10px 0;
  font-size: 1.2em;
  color: #333;
}
.price del {
  color: #888;
  margin-right: 10px;
}
.discount {
  color: red;
}
.price-details {
  font-size: 0.9em;
  color: #555;
}
