<body>
<div class="card">
  <div class="face front">
    <img src="/images/caña_azucar.jpg" alt="caña de azucar">
    <h3>Caña de Azucar</h3>
  </div>
  <div class="face back">
    <h3>Caña de Azucar</h3>
    <p>Es una planta tropical de tallo alto, cultivada por su jugo dulce, que se utiliza para producir azúcar y melaza. Es fundamental en muchas economías, aportando empleo y contribuyendo a la producción de bioetanol y otros productos alimentarios.</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img src="/images/ichu.jpg" alt="">
    <h3>Ichu</h3>
  </div>
  <div class="face back">
    <h3>Ichu</h3>
    <p>Es una gramínea nativa de los Andes, conocida por su tallo robusto y hojas estrechas. Alcanza hasta 1.5 metros de altura y es vital para prevenir la erosión del suelo, además de proporcionar forraje para animales y material de construcción. Su resistencia lo hace fundamental en los ecosistemas de montaña.</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img src="/images/orquidea.jpg" alt="">
    <h3>Orquídea</h3>
  </div>
  <div class="face back">
    <h3>Orquídea</h3>
    <p>Es una planta con flores apreciada por su diversidad, belleza y variedad de colores. Crece en hábitats tropicales y tiene una relación simbiótica con hongos que le ayuda a obtener nutrientes. Su cultivo puede ser desafiante, pero es muy valorada entre los amantes de las plantas.</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>


</body>
