<body>
<h1>fauna</h1>
<div class="card">
  <div class="face front">
    <img src="images/algarrobolima.png" alt="">
    <h3>Algarrobo</h3>
  </div>
  <div class="face back">
    <h3>Algarrobo</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius harum molestiae iste, nihil doloribus fugiat distinctio ducimus maxime totam nulla fuga odio non aperiam eos?</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img src="images/mollecuzco.png" alt="">
    <h3>Molle</h3>
  </div>
  <div class="face back">
    <h3>Algodon</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius harum molestiae iste, nihil doloribus fugiat distinctio ducimus maxime totam nulla fuga odio non aperiam eos?</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="face front">
    <img src="images/orquideascuzco.png" alt="">
    <h3>Orquídea</h3>
  </div>
  <div class="face back">
    <h3>cactus</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius harum molestiae iste, nihil doloribus fugiat distinctio ducimus maxime totam nulla fuga odio non aperiam eos?</p>
    <div class="link">
      <a href="#">Details</a>
    </div>
  </div>
</div>


</body>
